* {
    margin: 0;
    padding: 0;
}
body, html {
    scroll-behavior: smooth;
    margin: 0;
    font-family: Sofia;

}
.container {
    margin: 0 5%;
}

#navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    .container {
        height: 8rem;
        display: flex;    
        align-items: center;
        justify-content: space-between;

        .logo {
            img {
                height: 5rem;
            }
        }
        .nav {
            display: flex;
            gap: 3.5rem;
            font-size: 1.8em;

            .nav-link {
                text-decoration: none;
                color: #FFF;
            }
            .nav-link.active {
                color: #E8B021;
            }
        }
    }
}

#home {
    background-size: cover;
    .filter {
        background-color: rgba(0,0,0,.5);

        .container {
            height: 100vh;
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr;
            .left {
                color: white;
                font-size: 3em;
                h1 {
                    font-family: Galindo;
                    color: #62C922;
                }
                p {
                    line-height: 4rem;
                }
            }
            .right {
                text-align: center;

                img {

                    width: 80%;
                }
            }
        }
    }
}